.draft-editor-container {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  .draft-editor-toolbar {
    border-bottom: 1px solid #ddd;
  }
  .DraftEditor-root {
    padding: 12px;
  }
  .superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
  }
}
